<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yin.deng.dyutils">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <activity android:name=".web.NormalWebAc"/>
        <!--网络变化监听-->
        <receiver android:name="yin.deng.dyutils.utils.NetStateReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
