<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.funi.mas">

    <!-- 屏幕适配所需属性 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name=".FuniMountainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="yin.deng.dyutils.web.NormalWebAc"/>

        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".main.SplanshAc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>